{% extends 'common/base.html' %}

{% block title %}Signup | Insurance Assist{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Create Your Account</h2>

    <form class="auth-form" method="POST">
    <input type="text" name="name" placeholder="Full Name" required>
    <input type="email" name="email" placeholder="Email address" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit">Sign Up</button>
    </form>

</div>
{% endblock %}
